
:root {
  font-family: 'Ropa Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: hsl(106, 78%, 41%);
  --main-font: 'Ropa Sans', sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background: url('/img/fondotodocompu.png') center center / cover no-repeat fixed;
  font-family: var(--main-font);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
